data/*
.venv/
src/audiosep/__pycache__/
src/audiosep/data/__pycache__/
src/audiosep/data/spectrogram/__pycache__/
src/audiosep/models/__pycache__/

src/audiosep.egg-info/
lightning_logs/
wandb/
artifacts/

.DS_Store
*.pyc
__pycache__/*
**/*/__pycache__/*
__pycache__/
