data/*
.venv/
src/audiosep/__pycache__/
src/audiosep/data/__pycache__/
src/audiosep/models/__pycache__/

src/audiosep.egg-info/
lightning_logs/
wandb/

src/audiosep/data/spectrogram/__pycache__

.DS_Store